<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New User</h2>
    </div>

    <form th:action="@{/user/validate}" th:object="${userDto}" method="post" class="form-horizontal"
          style="width: 100%">

        <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}">
            <p th:errors="*{global}"></p>
        </div>

        <div class="row">
            <div class="form-group col-xs-6">
                <label>Full Name</label>
                    <input
							type="text" th:field="*{fullname}" class="form-control" id="fullname" placeholder="Full Name">
                    <p class="label label-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6">
                <label>User Name</label>
                    <input
							type="text" th:field="*{username}" class="form-control" id="username" placeholder="User Name">
                    <p class="label label-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6">
                <label>Password</label>
                    <input
							type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                        <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
                            <li th:each="message : ${error.split(',')}">
                                <p class="error-message" th:text="${message}"></p>
                            </li>
                        </ul>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6">
                <label>Role</label>

                <div>
                    <label class="radio-inline"><input type="radio" th:field="*{role}" th:value="ADMIN"> Admin</label>
                    <label class="radio-inline"><input type="radio" th:field="*{role}" th:value="USER"> User</label>
                    <p class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="form-group col-xs-6">
                <a class="btn btn-danger" href="/user/list" role="button">Cancel</a>
                <input class="btn btn-primary" type="submit" value="Add user">
            </div>
        </div>

    </form>
</div>

</body>
</html>